/* selector= elemen yang dipilih
properti= aspek yang mau diatur
value= nilainya */
p {
    font-size: 20px;
}
/* type Selector */
p {
    font-size: 90px;
}
/* ID selector */
#judul {
    font-size: 90px;
    color: blue;
}

/* Class Selector */
.merah{
    color: brown;
}

.satu {
    font-size: 30px;
}

/* selector list */
h1,p{
    background-color: yellow;
}